
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <h2>Beheer</h2>
    <hr />
    <div>
        <h4>Menu</h4>

        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Gebruiker" asp-action="Index">
                            Gebruikers
                        </a>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Stockbeheer">
                            Stock
                        </a>
                        <a class="nav-link text-dark" asp-controller="Role" asp-action="Index">
                            Rollen
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }