@model StartspelerMVC.Models.Evenement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Evenement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EvenementID" />
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdatum" class="control-label"></label>
                <input asp-for="Startdatum" class="form-control" />
                <span asp-validation-for="Startdatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Beschrijving" class="control-label"></label>
                <input asp-for="Beschrijving" class="form-control" />
                <span asp-validation-for="Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kostprijs" class="control-label"></label>
                <input asp-for="Kostprijs" class="form-control" />
                <span asp-validation-for="Kostprijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Max_Deelnemers" class="control-label"></label>
                <input asp-for="Max_Deelnemers" class="form-control" />
                <span asp-validation-for="Max_Deelnemers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Einddatum" class="control-label"></label>
                <input asp-for="Einddatum" class="form-control" />
                <span asp-validation-for="Einddatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvenementTypeID" class="control-label"></label>
                <select asp-for="EvenementTypeID" class="form-control" asp-items="ViewBag.EvenementTypeID"></select>
                <span asp-validation-for="EvenementTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
