@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Toegang geweigerd";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Je hebt geen toegang tot de opgevraagde pagina.</p>
</header>
