@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Passwoord vergeten bevestiging";
}

<h1>@ViewData["Title"]</h1>
<p>
    Wij hebben een email verzonden waar u uw wachtwoord mee kan opnieuw instellen.
</p>

