@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset pincode bevestiging.";
}

<h1>@ViewData["Title"]</h1>
<p>
    Uw pincode is gewijzigd. <a asp-page="./Login">Klik hier om u aan te melden</a>.
</p>
