@model IEnumerable<StartspelerMVC.Models.DrankkaartType>

@{
    ViewData["Title"] = "Drankkaart";
}

<h1>Aankoop nieuwe drankkaart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Grootte)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Naam)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grootte)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naam)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <form asp-action="Create">
            
            <div class="form-group">
                <label>Aantal</label>
                <input class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


