@model StartspelerMVC.Viewmodels.CreateProductViewModel

@{
    ViewData["Title"] = "Product toevoegen";
}

<h1>Product aanmaken</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NieuwProduct.Naam" class="control-label"></label>
                <input asp-for="NieuwProduct.Naam" class="form-control" />
                <span asp-validation-for="NieuwProduct.Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NieuwProduct.Prijs" class="control-label"></label>
                <input asp-for="NieuwProduct.Prijs" class="form-control" />
                <span asp-validation-for="NieuwProduct.Prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NieuwProduct.Ijskast" class="control-label"></label>
                <input asp-for="NieuwProduct.Ijskast" class="form-control" />
                <span asp-validation-for="NieuwProduct.Ijskast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NieuwProduct.OverigeStock" class="control-label"></label>
                <input asp-for="NieuwProduct.OverigeStock" class="form-control" />
                <span asp-validation-for="NieuwProduct.OverigeStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NieuwProduct.CategorieID" class="control-label"></label>
                <select asp-for="NieuwProduct.CategorieID" class="form-control" asp-items="Model.Categories"></select>
                <span asp-validation-for="NieuwProduct.CategorieID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}