@model StartspelerMVC.Viewmodels.OverzichtProductViewModel

@{
    ViewData["Title"] = "Drankoverzicht";
}

<h1>Drankoverzicht</h1>

<div class="row">

    <div class="col-10">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th class="col-md-6">
                        Product
                    </th>
                    <th class="text-center">
                        Aantal Consumpties
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Producten)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Naam)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Prijs)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-2">
        <h5>Categorie</h5>
        <p>Categorie 1</p>
        <br />
        <p>Categorie 2</p>
        <br />
        <p>Categorie 3</p>
    </div>
</div>

<br />
<br />
<br />