@model StartspelerMVC.Viewmodels.VerificatieBestellingViewModel

<h1>Succes!</h1>

<p>Jouw bestelling is succesvol geplaatst.</p>
<p>Vergeet je niet uit te loggen alvorens je jouw drinken uit de ijskast neemt.</p>