@model IEnumerable<StartspelerMVC.Models.Categorie>

@{
    ViewData["Title"] = "Categorie beheer";
}

<h1>Categorie beheer</h1>

<p>
    <a asp-action="Create">Voeg categorie toe</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CategorieID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CategorieID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Product" asp-action="Stockbeheer"><label type="button" class="btn btn-primary">Terug naar stockbeheer</label></a>