@using StartspelerMVC.Areas.Identity.Pages.Account

@model LoginModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
    var user = await UserManager.GetUserAsync(User);
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center mb-4">
        <h1 class="display-4">Welkom @user.Voornaam </h1>
    </div>

    <div class="row text-center">
        <div class="col-sm-12 col-md-4">
            <a class="" asp-controller="Product" asp-action="Drankoverzicht">
                <img src="~/images/Bestelling_img.png" width="160" height="160">
            </a>
            <p>Bestelling</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="" asp-controller="Evenement" asp-action="Overzicht">
                <img src="~/images/Evenement_img.png" width="160" height="160">
            </a>
            <p>Evenementen <br />(Under construction)</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="" asp-controller="Drankkaart" asp-action="Index">
                <img src="~/images/drankkaart_img.png" width="160" height="160">
            </a>
            <p>Drankkaarten</p>
        </div>
    </div>
}
else
{
    <div class="text-center mb-12 col-sm-12">
        <h1 class="display-4">Welkom</h1>
        <p>Dit is een webapplicatie voor StartSpeler. Login in of registreer je om hiervan gebruik te kunnen maken.</p>
    </div>

    <div class="text-center">
        <div class="btn btn-lg btn-primary">
            <a class="nav-link btn-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Aanmelden</a>
        </div>
    </div>

}

@if (this.User.IsInRole("Admin"))
{
    <div class="">
        <h4>Admin tools:</h4>
    </div>
    <hr />
    <div class="row text-center">
        <div class="col-sm-12 col-md-4">
            <a class="" asp-controller="Drankkaart" asp-action="Overzicht">
                <img src="~/images/drankkaart_admin.png" width="160" height="160">
            </a>
            <p>Overzicht drankkaarten</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="" asp-controller="Product" asp-action="Stockbeheer">
                <img src="~/images/stockbeheer_admin.png" width="160" height="160">
            </a>
            <p>Stockbeheer</p>
        </div>
        @*<div class="col-3 col-sm-4">
            <a class="" asp-controller="DrankkaartType" asp-action="Index">
                <img class="" width="160" height="160">
            </a>
            <p>Drankkaarttypes</p>
        </div>*@
        <div class="col-sm-12 col-md-4">
            <a class="" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <img src="~/images/users_admin.png" width="160" height="160">
            </a>
            <p>Admin beheer</p>
        </div>
    </div>
}