@using StartspelerMVC.Areas.Identity.Pages.Account

@model LoginModel

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Welkom";
    var user = await UserManager.GetUserAsync(User);
}
<script type="text/javascript">
    function autoCompleteOn() {
        document.getElementById('Input_Email').autocomplete = "on";
    }
</script>
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center mb-4">
        <h1 class="display-4">Welkom @user.Voornaam </h1>
    </div>

    <div class="row text-center">
        <div class="col-sm-12 col-md-4">
            <a class="" asp-controller="Product" asp-action="Drankoverzicht">
                <img src="~/images/Bestelling_img.png" width="160" height="160">
            </a>
            <p>Bestelling</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="" asp-controller="Evenement" asp-action="Overzicht">
                <img src="~/images/Evenement_img.png" width="160" height="160">
            </a>
            <p>Evenementen <br />(Under construction)</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="" asp-controller="Drankkaart" asp-action="Index">
                <img src="~/images/drankkaart_img.png" width="160" height="160">
            </a>
            <p>Drankkaarten</p>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <br class=" d-none d-sm-block" />
            <h1 class="d-none d-sm-block d-md-none">@ViewData["Title"]</h1>

            <section>
                <form id="account" method="post">
                    <h4>Meld je aan.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email"  onfocus="autoCompleteOn()" class="form-control"autocomplete="on" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">Aanmelden</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-area="Identity" asp-page="/Account/ForgotPassword">Pincode vergeten?</a>
                        </p>
                        <p>
                            <a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="/">Registreer als een nieuwe gebruiker</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 offset-md-1 d-none d-sm-block">
            <section>
                <h1 class="display-4">@ViewData["Title"]</h1>
                <p>Dit is een webapplicatie voor StartSpeler. Login in of registreer je om hiervan gebruik te kunnen maken.</p>
            </section>
        </div>
    </div>

}

@if (this.User.IsInRole("Admin"))
{
    <div class="">
        <h4>Admin tools:</h4>
    </div>
    <hr />
    <div class="row text-center">
        <div class="col-sm-12 col-md-4">
            <a class="" asp-controller="Drankkaart" asp-action="Overzicht">
                <img src="~/images/drankkaart_admin.png" width="160" height="160">
            </a>
            <p>Overzicht drankkaarten</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="" asp-controller="Product" asp-action="Stockbeheer">
                <img src="~/images/stockbeheer_admin.png" width="160" height="160">
            </a>
            <p>Stockbeheer</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <a class="" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <img src="~/images/users_admin.png" width="160" height="160">
            </a>
            <p>Admin beheer</p>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
