@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Evenement" asp-action="Overzicht">Klik hier om naar evenementen te springen.</a>

<br />
<br />
<a asp-controller="Product" asp-action="Drankoverzicht">Klik hier om naar Drankoverzicht te springen.</a>
<br />
<br />
<a asp-controller="Product" asp-action="Stockbeheer">Klik hier om naar Stockbeheer te springen.</a>
<br />
<br />
<a asp-controller="Drankkaart" asp-action="Index">Klik hier om naar een <b>drankkaartoverzicht</b> van een <b>user</b> te springen.</a>
<br />
<br />
<a asp-controller="Drankkaart" asp-action="Create">Klik hier om een <b>drankkaart</b> toe te voegen bij een <b>user</b> </a>
<br />
<br />
<a asp-controller="Drankkaart" asp-action="Overzicht">Klik hier om naar een <b>drankkaartoverzicht</b> van een <b>admin</b> te springen.</a>
<br />
<br />
<a asp-controller="Drankkaarttype" asp-action="Index">Klik hier om een <b>adminoverzicht</b> te krijgen van de <b>drankkaarttypes</b>.</a>
<br />
<br />
<a asp-controller="Drankkaarttype" asp-action="Create">Klik hier om een nieuw <b>drankkaarttype</b> aan te maken via een <b>admin</b>.</a>